// POLICE
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
// FIN DE POLICE

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #ffffffb6;
  top: 0;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  animation: loader 1.5s;
  animation-fill-mode: both;
  z-index: 100;
  font-family: Shrikhand;
  &_box {
    padding: 2rem;
    background-color: transparent;
    text-align: center;
  }
  &_box_content {
    color: black;
  }
  &_box_ball {
    @include flexcenter;
  }
  &-ball {
    animation: loader_ball-rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  &-ball:before,
  &-ball:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  &-ball:before {
    animation: loader_ball-ball1 1s infinite;
    background-color: #99e2d0;
    box-shadow: 30px 0 0 #f5edff;
    margin-bottom: 10px;
  }
  &-ball:after {
    animation: loader_ball-ball2 1s infinite;
    background-color: #9356dc;
    box-shadow: 30px 0 0 #9356dc;
  }
}
.header {
  display: flex;
  align-items: center;
  &_previous {
    width: 10%;
    text-align: center;
    a {
      color: $color-footer;
      text-decoration: none;
    }
  }
  h1 {
    text-align: center;
    width: 90%;
    margin-right: 10%;
  }
  &_logo {
    height: 34px;
    width: 196px;
  }
}
.heart-main {
  width: 1.5rem;
  height: 1.5rem;
  overflow: visible;
  fill: url(#Gradient1);
  fill-opacity: 0;
  stroke: black;
  stroke-width: 15px;
  transition: all 1s;
  cursor: pointer;
  &:hover {
    overflow: visible;
    fill-opacity: 1;
    fill: url(#Gradient1);
    stroke-opacity: 0;
    animation: pulse-heart 1s;
    transition: stroke-opacity 1s, fill-opacity 1s;
  }
}
.location {
  @include flexcenter;
  background-color: $color-back-location;
  padding: 0.5rem 0;
  box-shadow: inset 0px 5px 10px -10px #00000080;
  &_marker {
    @include flexcenter;
    padding-right: 1rem;
  }
  &_selector {
    margin: 1rem 0;
    background-color: $color-back-location;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
    text-align: center;
  }
}
.reservation {
  @include flexcenter;
  background-color: $color-back;
  flex-direction: column;
  padding-bottom: 3rem;
  &_h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  &_p {
    text-align: center;
  }
  &_btn {
    margin-top: 1rem;
    @include btn;
    transition: all 0.2s;
    cursor: pointer;
  }
  &_btn:hover {
    @include btn-hover;
  }
}
.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &_card {
    @include fonctionnement_card;
    margin-left: 5%;
    margin-right: 5%;
    transition: all 0.3s;
    max-width: 95vw;
    cursor: pointer;
  }
  &_card:hover {
    background-color: $color-card-hover;
    transition: background-color 0.3s;
  }
  &_card:hover &_card_icon {
    color: $color-primary;
    transition: color 0.3s;
  }
  &_h2 {
    padding-left: 1rem;
  }
  &_card {
    padding: 0.7rem 0;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  &_card_icon {
    padding: 0 1rem;
    color: grey;
  }
  &_card_number {
    @include flexcenter;
    position: relative;
    left: -10px;
    border-radius: 100%;
    background-color: $color-primary;
    height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    color: white;
    font-weight: normal;
    font-size: 0.8rem;
  }
}
.presentation {
  background-color: $color-back;
  &_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  &_menu_header {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
    background-color: $color-back;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    &_h2 {
      padding-left: 1rem;
      font-family: Shrikhand;
      font-weight: normal;
    }
  }
  &_menu_h3 {
    margin-left: 1rem;
    margin-top: 50px;
    font-weight: 300;
  }
  &_menu_like {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
  }
  &_menu_underline {
    @include underline_menu;
  }
  &_menu_card {
    @include menu_card;
    &_h3,
    &_price {
      margin: 0;
    }
    &_alt_description {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
    }
    &_p {
      padding-right: 1rem;
      margin: 0;
      margin-top: 0.5rem;
      height: 100%;
    }
  }
  &_menu_card:nth-child(1) {
    animation: smooth-slideup linear 2s backwards;
  }
  &_menu_card:nth-child(2) {
    animation: smooth-slideup linear 2s 0.3s backwards;
  }
  &_menu_card:nth-child(3) {
    animation: smooth-slideup linear 2s 0.6s backwards;
  }
  &_menu_card:nth-child(4) {
    animation: smooth-slideup linear 2s 0.9s backwards;
  }
  &_menu_card:hover {
    padding-right: 100px;
    transition: 1s;
  }
  &_menu_card_check {
    @include menu_card-check;
    &_icon {
      transform: rotate(360deg);
      transition: transform 1s;
      color: white;
    }
  }
  &_menu_card:hover &_menu_card_check_icon {
    transform: rotate(-360deg);
    transition: transform 1s;
  }
  &_menu_card:hover &_menu_card_check {
    right: 0;
    transition: right 1s;
  }
  &_menu_card:hover &_menu_card_p,
  &_menu_card_h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &_btn {
    @include flexcenter;
    padding: 3rem 0;
  }
  &_btn_order {
    @include btn;
    padding: 1rem 3.5rem;
  }
  &_btn_order:hover {
    @include btn-hover;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  &_h2 {
    justify-content: flex-start;
    padding-left: 1rem;
  }
  &_card_redirection {
    @include a_without_style;
  }
  &_card_redirection:visited {
    @include a_without_style;
  }
  &_card {
    margin: 0 1rem;
    transition: all 1s;
  }
  &_card_container:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
  }
  &_card_container {
    cursor: pointer;
    position: relative;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 1rem;
    max-width: 95vw;
    overflow: hidden;
    box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, 5%);
    transition: 0.2s;
  }
  &_card_new {
    display: flex;
    align-items: center;
    position: absolute;
    height: 1.5rem;
    top: 1rem;
    right: 1rem;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50);
    padding: 0.15rem 0.75rem;
  }
  &_card_image_container {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }
  &_card_description {
    height: 30%;
    padding-left: 1rem;
  }
  &_card_image--size {
    height: 10rem;
    width: 100%;
    object-fit: cover;
  }
  &_card_h3 {
    margin: 0;
    margin-top: 1rem;
  }
  &_card_p {
    margin: 0;
    margin-bottom: 1rem;
  }
  &_card_like {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
.footer {
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  &_icon {
    padding-right: 1rem;
    width: 1rem;
    height: 1rem;
  }
  &_links {
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
  }
  &_links:hover {
    font-weight: bold;
  }
  &_links_container {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
  }
  &_logo {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    height: 1rem;
    width: auto;
    filter: invert(1);
  }
}
@media screen and (min-width: 1000px) {
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    &_h2 {
      grid-column: 1 / -1;
      padding-bottom: 0;
    }
  }
  .fonctionnement {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    &_h2 {
      grid-column: 1 / -1;
    }
  }
  .presentation_menu_container{
    display: flex;
    justify-content: space-evenly;
  }
  .presentation_menu{
    width: 33%;
  }
}
