// ------------- LES VARIABLES ICI -------------
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tertiary-darken: #008766;
$color-back: #f6f6f6;
$color-back-location: #eaeaea;
$color-footer: #353535;
$color-card-hover: #f5edff;
